@import "settings";
//@import "foundation";

// Or selectively include components
 @import
//     "foundation/components/accordion",
//     "foundation/components/alert-boxes",
     "foundation/components/block-grid",
//     "foundation/components/breadcrumbs",
//     "foundation/components/button-groups",
     "foundation/components/buttons",
//     "foundation/components/clearing",
//     "foundation/components/dropdown",
//     "foundation/components/dropdown-buttons",
//     "foundation/components/flex-video",
     "foundation/components/forms",
     "foundation/components/grid",
//     "foundation/components/inline-lists",
//     "foundation/components/joyride",
//     "foundation/components/keystrokes",
//     "foundation/components/labels",
//     "foundation/components/magellan",
//     "foundation/components/orbit",
//     "foundation/components/pagination",
//     "foundation/components/panels",
//     "foundation/components/pricing-tables",
//     "foundation/components/progress-bars",
     "foundation/components/reveal",
//     "foundation/components/side-nav",
//     "foundation/components/split-buttons",
//     "foundation/components/sub-nav",
//     "foundation/components/switches",
//     "foundation/components/tables",
//     "foundation/components/tabs",
//     "foundation/components/thumbs",
//     "foundation/components/tooltips",
     "foundation/components/top-bar",
//     "foundation/components/type",
     "foundation/components/offcanvas",
     "foundation/components/visibility";


@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);


body {

	background-color: #60b0e0;	
	background: url(/images/backgrounds/background1_reg.jpg) no-repeat fixed;

	//background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20%20%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%0A%20%20%20%20%20width%3D%221500%22%20height%3D%22823%22%0A%20%20%20%20%20viewBox%3D%220%200%201500%20823%22%3E%0A%20%20%3Cfilter%20id%3D%22blur%22%20filterUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22sRGB%22%3E%0A%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%2220%2020%22%20edgeMode%3D%22duplicate%22%20/%3E%0A%20%20%20%20%3CfeComponentTransfer%3E%0A%20%20%20%20%20%20%3CfeFuncA%20type%3D%22discrete%22%20tableValues%3D%221%201%22%20/%3E%0A%20%20%20%20%3C/feComponentTransfer%3E%0A%20%20%3C/filter%3E%0A%20%20%3Cimage%20filter%3D%22url%28%23blur%29%22%0A%20%20%20%20%20%20%20%20%20xlink%3Ahref%3D%22data%3Aimage/jpeg%3Bbase64%2C/images/backgrounds/background1_small.jpg%22%0A%20%20%20%20%20%20%20%20%20x%3D%220%22%20y%3D%220%22%0A%20%20%20%20%20%20%20%20%20height%3D%22100%25%22%20width%3D%22100%25%22/%3E%0A%3C/svg%3E);
	//https://css-tricks.com/the-blur-up-technique-for-loading-background-images/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.maintext {
	text-align:center;
	color: white;
	font-family: 'Bungee Inline', cursive;
	font-size: 4em;
	line-height: 80%;
	text-shadow: 0em 0em .1em #000000, 0em 0em .3em #000000, 0em 0em .2em #000000, 0em 0em .2em #000000, 0em 0em .8em #000000;

	/*-webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;*/
}

.extratext {
	text-align:center;
	color: white;
	font-family: 'Inconsolata', monospace;
	font-size: 4em;
	line-height: 80%;
	text-shadow: 0em 0em .1em #000000, 0em 0em .3em #000000, 0em 0em .2em #000000, 0em 0em .2em #000000, 0em 0em .8em #000000;

	/*-webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;*/
}

.top-bar-section {
    background: $topbar-bg-color !important;
        li {
            background: $topbar-bg-color !important;
            
     }

}
.top-bar {
    background-color: rgba(0,0,0,0.5);
}


.card {
    background: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    box-shadow: 0 .2rem .5rem 0 rgba(0, 0, 0, 0.16), 0 .2rem 1rem 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: .2rem;
    .title {
        line-height: 3rem;
        font-size: 1.5rem;
        font-weight: 300;
    }
    .content {
    	
        padding: 1.3rem;
        font-weight: 300;
        border-radius: 0 0 2px 2px;
    }
    p {
    margin: 0;
    }
    .action {
        border-top: 1px solid rgba(160, 160, 160, 0.2);
        padding: 1.3rem;
    }
    a {
        color: #ffab40;
        transition: color 0.3s ease;
        text-transform: uppercase;
        text-decoration: none;
    }
    .image {
        position: relative;
        .title {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 1.3rem;
            color: #fff;
        }
        img {
            border-radius: 2px 2px 0 0;
        }
    }
    .cardBody {
        font-size: 1.2rem;
		text-align:left;
    }
}
