
<%- include('otherPageTemp', { title: 'Express', tracking: tracking, nav_bar: nav_bar, 
mainText: "SiteByte", 
mainSubtitle: "Contact",
cardTitle: "We're only available through email right now", 
cardBody: "So if you have any questions, shoot us a message at <a href='mailto:contact@sitebyte.xyz' style='text-transform: lowercase;'>contact@sitebyte.xyz</a>!"}); %>

