<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SiteByte</title>
    <meta content="A fan-made version of the Owosso Public Schools website."
    name="description">
    <meta content="Owosso,Public,Schools" name="keywords">
    <meta content="Andre Popovitch" name="author">
    <link href="stylesheets/app.css" rel="stylesheet">
    <link href=
    "https://fonts.googleapis.com/css?family=Bungee+Inline|Inconsolata" rel=
    "stylesheet">
    <link href="stylesheets/app.css" rel="stylesheet">
    <script src="bower_components/modernizr/modernizr.js">
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-82071438-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body>
    <%- nav_bar %>
    <div class="main">
        <div class="large-7 medium-11 small-12 small-centered columns">
            <br class="show-for-large-up">
            <br>
            <h1 class="maintext">We'll Make the Website</h1>
            <h3 class="extratext">SO YOU CAN FOCUS ON WHAT YOU DO BEST</h3>
        </div>
    </div><br class="show-for-large-up">
    <br>
    <div class="large-2 small-centered text-center column">
        <a class="radius large button" data-reveal-id="firstModal" href="#">Get
        started!</a>
    </div><br class="show-for-large-up">
    <br>
    <div class="row">
        <div class="large-9 medium-10 small-12 small-centered columns">
            <ul class="large-block-grid-3 small-block-grid-1">
                <li>
                    <div class="card">
                        <div class="content">
                            <h3 class="text-center card-title">Affordable</h3>
                            <p class="text-center">A static website (what most
                            business owners need) costs around $60, with only
                            half upfront</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="content">
                            <h3 class="text-center card-title">No-frills</h3>
                            <p class="text-center">No need to handle setting up
                            a server or learning to code - we do all the heavy
                            lifting</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="content">
                            <h3 class="text-center card-title">High
                            quality</h3>
                            <p class="text-center">The sites we make always
                            look nice and load fast, to increase your
                            conversion rate</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- Reveal Modals begin -->
    <div aria-hidden="true" aria-labelledby="firstModalTitle" class=
    "reveal-modal" data-reveal="" id="firstModal" role="dialog">
        <h2 id="firstModalTitle">So you want a website?</h2>
        <p>You made the right choice. How about you choose what you need? If
        you have any questions, don't hesitiate to shoot us an email!</p>
        <form method="post" action="/submitOrder" name="contact" id="contact">
            <div class="row">
                <div class="large-4 columns">
                    <label>Your name<input placeholder="John Doe" type="text" id="name"></label>
                </div>
                <div class="large-8 columns">
                    <label>Your email<input placeholder="username@example.com" type="text"  id="email"></label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>Are there any websites you really like the design
                    of? If so, put them here 
                    <textarea placeholder="example1.com, example2.com, etc."  id="inspiration"></textarea></label>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <label>What do you want for your site? 
                    <textarea placeholder="Don't forget to put what you want your website to look like, what you want it to do, what your business does, that kind of thing. We'll email you if we have any questions!" rows="6"  id="message"></textarea></label>
                </div>
            </div><a aria-label="Close" class="close-reveal-modal">&#215;</a>
        </form>
        <div class="large-3 large-offset-9 text-center column">
            <button id="submit-btn"  class="radius large button">Send an email</a>
        </div>
    </div>
    <div aria-hidden="true" aria-labelledby="secondModalTitle" class="reveal-modal" data-reveal="" id="secondModal" role="dialog">
        <h2 id="secondModalTitle">Thanks!</h2>
        <p>We'll get back to you soon with a quote.</p><a aria-label="Close"
        class="close-reveal-modal">&#215;</a>
    </div><!-- Reveal Modals end -->
    <script src="bower_components/jquery/dist/jquery.min.js">
    </script>     <script src="http://malsup.github.com/jquery.form.js"></script> 
    <script src="javascripts/submithandlerandmore.js">
    </script>
    <script src="bower_components/foundation/js/foundation.min.js">
    </script> 
    <script src="js/app.js">
    </script>
</body>
</html>