<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>SiteByte</title>
    <meta content="Because your business deserves a quality website."
    name="description">
    <meta content="Website,create,SiteByte" name="keywords">
    <meta content="Andre Popovitch" name="author">
    <link href="stylesheets/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Inconsolata" rel="stylesheet">
    <link href="stylesheets/app.css" rel="stylesheet">
    <script src="bower_components/modernizr/modernizr.js">
    </script>
    <%- tracking %>
</head>
<body>
    <%- nav_bar %>
    <div class="main">
        <div class="large-7 medium-11 small-12 small-centered columns">
            <br class="show-for-large-up">
            <br>
            <h1 class="maintext">We'll Make the Website</h1>
            <h3 class="extratext">SO YOU CAN FOCUS ON WHAT YOU DO BEST</h3>
        </div>
    </div><br class="show-for-large-up">
    <br>
    <div class="large-4 small-centered text-center column">
    	<a class="radius large button secondary" data-reveal-id="questionModal" href="#question">Ask a question</a>
        <a class="radius large button" data-reveal-id="firstModal" href="#order">Get
        started!</a>
    </div><br class="show-for-large-up">
    <br>

    <div class="row">
        <div class="large-9 medium-10 small-12 small-centered columns">
	        <div class="card">
                <div class="content">
                    <h3 class="text-center card-title">Why SiteByte?</h3>
                    <p class="text-center">We're a bunch of highschoolers who realized that a lot of businesses around us needed a high-quality website. But we also knew most business owners have way too much on their plate to spend the time to make a great website. Since we love computers, we decided to help them achieve their dreams without trying to empty their wallets.</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="large-9 medium-10 small-12 small-centered columns">
            <ul class="large-block-grid-3 small-block-grid-1">
                <li>
                    <div class="card">
                        <div class="content">
                            <h3 class="text-center card-title">Affordable</h3>
                            <p class="text-center">A website to get you up-and-running only costs around $60, and you pay just half upfront</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="content">
                            <h3 class="text-center card-title">Worry Free</h3>
                            <p class="text-center">No need to handle setting up
                            a server or learning to code - we do all the heavy
                            lifting</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="card">
                        <div class="content">
                            <h3 class="text-center card-title">High Quality</h3>
                            <p class="text-center">The sites we make always
                            look nice and load fast, to increase your
                            conversion rate</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- Reveal Modals begin -->
    <!--<div class="row">
        <div class="large-9 medium-10 small-12 small-centered columns">
	        <div class="card">
                <div class="content">
                    <h3 class="text-center card-title">Your business deserves a high-quality website</h3>
                    <p class="text-center">A website opens new doors for your business and can be a very powerful sales tool. And with an attractive website, people are more likely to stay (whether they find you through Google, ads, or word-of-mouth).</p>
                </div>
            </div>
        </div>
    </div>-->

    <%- include('modals', {}); %>
    <script src="bower_components/jquery/dist/jquery.min.js">
    </script>
    <script src="javascripts/submithandlerandmore.js">
    </script>
    <script src="bower_components/foundation/js/foundation.min.js">
    </script> 
    <script src="js/app.js">
    </script>
</body>
</html>