
<%- include('otherPageTemp', { title: 'Express', tracking: tracking, nav_bar: nav_bar, 
mainText: "SiteByte", 
mainSubtitle: "Pricing", 
cardTitle: "We're Affordable", 
cardBody: "The majority of websites we make are called <i>static websites</i>, which can advertise your business, hold your contact information, and sell product. We can make static websites very cheaply and quickly (in general, $60 and a week respectively).<br /> The other option is <i>Dynamic</i> websites, which really vary in how long they take to make, so we can't give a flat price. We're pretty fair about rates though. If you have any questions or want to get exact numbers for how much your site will cost, just send us an email at <a href='mailto:contact@sitebyte.xyz' style='text-transform: lowercase;'>contact@sitebyte.xyz</a>!"}); %>

