
<%- include('otherPageTemp', { title: 'Express', tracking: tracking, nav_bar: nav_bar, modals: modals, 
mainText: "SiteByte", 
mainSubtitle: "Pricing", 
cardTitle: "We're Affordable", 
cardBody: "The majority of websites we make are called <i>static websites</i>, which can advertise your business, hold your contact information, and sell product4. We can make static websites very cheaply and quickly (in general, $60 and a week respectively).<br /> If you have any questions, just send us an email at <a href='mailto:contact@sitebyte.xyz' style='text-transform: lowercase;'>contact@sitebyte.xyz</a>!"}); %>

